@model IEnumerable<ASP.NET_Core_MVC_Piacom.Models.Domain.Unit>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitName)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitName)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.UnitID" class="btn btn-warning btn-sm">Edit</a>
                    |
                    <a asp-action="Details" asp-route-id="@item.UnitID" class="btn btn-info btn-sm">Details</a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.UnitID" class="btn btn-danger btn-sm"
                      >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
