@model List<ASP.NET_Core_MVC_Piacom.Models.Domain.Order>


    <div class="container">
        <h1 class="mb-4 text-center">Order List</h1>
    </div>


<div class="container py-5">
    <div class="d-flex justify-content-start mb-3">
        <a asp-area="" asp-controller="Orders" asp-action="Add" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add Order
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Order Date</th>
                            <th>Required Date</th>
                            <th>Shipped Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Customer.CustomerName</td>
                                <td>@order.OrderDate</td>
                                <td>@order.RequiredDate</td>
                                <td>
                                @if (order.ShippedDate == null || order.ShippedDate == string.Empty)
                                {
                                    <span class="text-danger">Not Shipped</span>
                                }
                                else
                                {
                                    @order.ShippedDate
                                }
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Orders" asp-action="Edit" asp-route-id="@order.OrderID" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil"></i> Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No orders found!</p>
            }
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
