@model ASP.NET_Core_MVC_Piacom.Models.Domain.PriceDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PriceDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvirontmentTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvirontmentTax)
        </dd>
        <dt class = "col-sm-2">
            Unit Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
        <dt class = "col-sm-2">
            Product Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price.PriceCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PriceDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
